In [1]:
# Import
import os
import tweepy
import sys
import datetime
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

config = {}
config_path = os.path.join(os.path.abspath('../../'))
config_name = 'config.py'
config_file = os.path.join(config_path,config_name)
exec(open(config_file).read(),config)

/usr/local/lib/python2.7/dist-packages/pandas/core/computation/__init__.py:18: UserWarning: The installed version of numexpr 2.4 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [3]:
# get database connection
db=config['DATABASE_ELE']
schema=config['SCHEMA_ELE']
engine = create_engine(db)

user1 = config['USER1']
user2 = config['USER2']
user3 = config['USER3']

In [27]:
# get today's date
todays_date = datetime.datetime.now()

In [30]:
# LAST Twitter Post
cur = engine.execute(
    '''     
    SELECT 
        dt_post as dt
        ,msg as msg
        ,"user" as user
        ,'twitter' as sorgente
        ,''' "'" + str(todays_date) + "'" ''' as dt_rif
    FROM ''' + schema + '''."tw_posts"
    WHERE 
        "user" in (''' "'" + user1 + "'" ''',''' "'" + user2 + "'" ''',''' "'" + user3 + "'" ''')
        and dt_rif=(select max(dt_rif) from ''' + schema + '''."tw_posts")
            ''')
tw_posts = cur.fetchall()

In [48]:
# LAST Facebook Post
cur = engine.execute(
    '''     
    SELECT 
        to_char (dt_post::timestamp at time zone 'UTC', 'YYYY-MM-DD HH24:MI:SS') as dt
        ,msg as msg
        ,"user" as user
        ,'facebook' as sorgente
        ,''' "'" + str(todays_date) + "'" ''' as dt_rif
    FROM ''' + schema + '''."fb_posts"
    WHERE 
        "user" in (''' "'" + user1 + "'" ''',''' "'" + user2 + "'" ''',''' "'" + user3 + "'" ''')
        and dt_rif=(select max(dt_rif) from ''' + schema + '''."fb_posts")
            ''')
fb_posts = cur.fetchall()

In [43]:
# LAST News
cur = engine.execute(
    '''     
    SELECT distinct
        to_char ("pubAt"::timestamp at time zone 'UTC', 'YYYY-MM-DD HH24:MI:SS') as dt
        ,titolo as msg
        ,'all' as user
        ,'news' as sorgente
        ,''' "'" + str(todays_date) + "'" ''' as dt_rif
    FROM ''' + schema + '''."news"
    WHERE 
        dt_rif=(select max(dt_rif) from ''' + schema + '''."news")
        order by to_char ("pubAt"::timestamp at time zone 'UTC', 'YYYY-MM-DD HH24:MI:SS') desc
        limit 10
            ''')
news = cur.fetchall()

In [49]:
header = ['dt','msg','user','sorgente', 'dt_rif']
df_tw_post = pd.DataFrame(tw_posts, columns=header)
df_fb_post = pd.DataFrame(fb_posts, columns=header)
df_news = pd.DataFrame(news, columns=header)

In [50]:
df_all = df_news.append(df_tw_post).append(df_fb_post)

In [53]:
df_all.head(2)

,dt,msg,user,sorgente,dt_rif
0,2017-11-27 19:45:02,Renzi ci riprova con lo ius soli. Il no del ce...,all,news,2017-11-27 20:08:08.384491
1,2017-11-27 19:45:00,"LIVE TMW - Montella out: ""Sorpreso dai tempi""....",all,news,2017-11-27 20:08:08.384491

In [52]:
# write to db
df_all.to_sql('timeline', engine, schema=schema, if_exists='append')